@model ankiety.Models.HomeModel

@{

    ViewBag.Title = "Ankieta";
    Layout = "~/Views/Basic.cshtml";

}

<div class="ankietaWrap">

    <div class="stazInfo">
        <p>Nazwa stażu: <b>@Model.staz.StazNazwa</b></p>
        <p>Początek stażu: <b>@Model.staz.Data_OD</b></b>
        <p>Koniec stażu: <b>@Model.staz.Data_DO</b></b>
        <p>Pracodawca: <b>@Model.staz.Pracodawca.Nazwa</b></p>
    </div><div class="studentInfo"> 
        <p>Imię i nazwisko: <b>@Model.student.Imie @Model.student.Nazwisko</b></p>
        <p>Pesel: <b>@Model.student.PESEL</b></p>
    </div>

    <div class="ankietaMain">
    @foreach (var ankiety in Model.ankiety)
    {
        if (@ankiety.Ankieta_ID == ViewBag.ankietaId && @ankiety.Staz_ID == ViewBag.stazId && @ankiety.Student_ID == ViewBag.studentId)
        {
            foreach (var ankieta in Model.ankieta)
            {
                if (@ankieta.Ankieta_ID == @ViewBag.ankietaId)
                {
                    if (@Convert.ToInt32(ankieta.StanAnkiety) == 0 || ankieta.StanAnkiety == null)
                    {
                        <form method="post" action="/Home/UpdateAnkieta">
                            <input type="hidden" name="ankietaID" value="@ankieta.Ankieta_ID" />
                            @{int ankietaWzorID = Convert.ToInt32(@ankieta.AnkietaWzor_ID);
                            foreach (var ankieta_w in Model.ankietaWzor)
                            {
                                if (ankieta_w.AnkietaWzor_ID == ankietaWzorID)
                                {
                                    <h2>@ankieta_w.NazwaAnkiety</h2>
                                    foreach (var pytania in Model.pytania)
                                    {
                                        if (pytania.AnkietaWzor_ID == ankietaWzorID)
                                        {
                                            <h3>@pytania.Pytanie</h3>
                                            foreach (var odpowiedzi in Model.odpowiedzi)
                                            {
                                                if (@pytania.AnkietaWzorPytanie_ID == @odpowiedzi.AnkietaWzorPytanie_ID)
                                                {
                                                    string odpType = "";
                                                                
                                                    if (@pytania.OdpowiedzTyp == 0) { 
                                                        odpType = "radio";
                                                    }else{
                                                        odpType = "checkbox";
                                                    }
                                                    <div class="odp">
                                                        <input type="@odpType" name="ankieta-@odpowiedzi.AnkietaWzorPytanie_ID" id="odpowiedz-@odpowiedzi.AnkietaWzorOdpowiedz_ID" value="0" />
                                                        <label for="odpowiedz-@odpowiedzi.AnkietaWzorOdpowiedz_ID">@odpowiedzi.Odpowiedz</label>
                                                    </div>
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            }
                            <br /><br />
                            <input type="submit" class="submit" value="Wyślij" />
                        </form>
                    }
                    else
                    {
                        <div>
                            @{
                        int a = 0;
                        int ankietaWzorID = Convert.ToInt32(@ankieta.AnkietaWzor_ID);
                        foreach (var ankieta_w in Model.ankietaWzor)
                        {
                            if (ankieta_w.AnkietaWzor_ID == ankietaWzorID)
                            {
                                <h2>@ankieta_w.NazwaAnkiety</h2>
                                foreach (var pytania in Model.pytania)
                                {
                                    if (pytania.AnkietaWzor_ID == ankietaWzorID)
                                    {
                                        <h3>@pytania.Pytanie</h3>
                                        foreach (var odpowiedzi in Model.odpowiedzi)
                                        {
                                            if (@pytania.AnkietaWzorPytanie_ID == @odpowiedzi.AnkietaWzorPytanie_ID)
                                            {
                                                <p class="answers">

                                                    @{int b = 0;}
                                                    @foreach (var item in @Model.json)
                                                    {
                                                        if (@a == @b)
                                                        {
                                                            if (@item == 0)
                                                            {
                                                                @odpowiedzi.Odpowiedz
                                                            }
                                                            else
                                                            {
                                                                <b>@odpowiedzi.Odpowiedz</b>
                                                            }
                                                        }
                                                        { b++; }
                                                    }
                                                    @{a++;}
                                                </p>
                                            }
                                        }
                                    }
                                }
                            }
                        }
                            }
                        </div>
                    }

                }
            }
        }
    }
        </div>
</div>